.mainsignup{
    display: flex;
    flex-direction: row;
    background-color: rgb(15, 15, 15);
}



.signupform{
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 26vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vh;
    height: 400px;
    color: white;
    opacity: 90%;
    border-radius: 15px;
}


.username, .email, .password, .confirmpassword{
    font-size: 25px;
    height: 5vh;
    width: 40vh;
}

.text{
    font-size: 15px;
}

.signup{
    border-radius: 15px;
    font-style: bold;
    font-size: 100%;
    background-color: red;
    color: black;
    width: 20vh;
    height: 7.5vh;
}

.signup:hover {
  opacity: 0.5;
}



