.mainlogin{
    display: flex;
    flex-direction: row;
    background-color: rgb(15, 15, 15);
}



.loginform{
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 26vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vh;
    height: 400px;
    color: white;
    opacity: 90%;
    border-radius: 15px;
}


.email, .password{
    font-size: 20px;
}

.text{
    font-size: 10px;
}

.login{
    border-radius: 15px;
    font-style: bold;
    font-size: 100%;
    background-color: red;
    color: black;
    width: 15vh;
    height: 5vh;
}

.login:hover {
  opacity: 0.5;
}

