.mainforum{
    background-color: rgb(15, 15, 15);
    height: auto;
    color: red;
    display: flex;
    flex-direction: column;
}

.forumback{
    background-color: rgb(15, 15, 15);
    height: auto;
}

.topbar{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
}

.searchbar{
    width: 30%;
}

.postsort{
    display: flex;
    flex-direction: row;
}

.bottomarea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tagsection{
  width: 200px;
  height: auto;
  background-color: #404040;
  border-radius: 0% 30px 30px 0%;
}

.tagtitle{
  margin-left: 20px;
}

.tags{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.rightside{
    display: flex;
    flex-direction: column;
}

.statnames{
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.stat11, .stat22{
  margin-right: 15px;
}

.stat33{
  margin-right: 30px;
}

.toptab, .latesttab{
  margin-left: 30px;
}

.toptab:hover, .latesttab:hover{
  opacity: 0.5;
}